<template>
  <div>
    <h3>Items - loading {{ loading }}</h3>
    <loader v-show="loading"></loader>
    <ul v-if="!loading">
      <item-component v-for="item in items" :key="item.id" :model="item" @selectItem="onSelectItem"></item-component>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { ItemInterface } from '@/models/items/Item.interface.ts';
import ItemComponent from './children/Item.component.vue';
import store from '@/store';

import Loader from '@/components/shared/Loader.component.vue';

export default defineComponent({
  components: {
    ItemComponent,
    Loader
  },
  props: {
    items: {
      type: Array as PropType<ItemInterface[]>
    },
    loading: {
      type: Boolean
    }
  },
  emits: ['selectItem'],
  setup() {
    // { emit }
    // const onItemSelect = (item: ItemInterface) => {
    //   emit('selectItem', item);
    // };

    const onSelectItem = (item: ItemInterface) => {
      store.dispatch('selectItem', {
        id: item.id,
        selected: !item.selected
      });
    };

    return {
      onSelectItem
    };
  }
});
</script>

<style lang="scss">
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
</style>
