<template>
  <div class="home">
    <items-list-component :items="items" :loading="loading"></items-list-component>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, computed } from 'vue';
import ItemsListComponent from '@/components/items/itemsList.component.vue';
import store from '@/store';

export default defineComponent({
  name: 'Home',
  components: {
    ItemsListComponent
  },
  setup() {
    const items = computed(() => {
      return store.state.items;
    });

    const loading = computed(() => {
      return store.state.loading;
    })

    onMounted(() => {
      store.dispatch('loadItems');
    });

    return {
      items,
      loading
    };
  }
});
</script>
